@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to Waco!</h1>
    <hr/>
    <p>Please use our list of restaurants in the surrounding Waco area to plan your next meal.</p>
    <p>You can sort restaurants by name, address, phone number or cuisine type.</p>
    <p>Feel free to add any restaurants that are not on this list or leave a review for any that you visit.</p>
    <hr/>
    <h6>Thank you for stopping by!</h6>
</div>
