@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to Waco!</h1>
    <h3>This website is meant to be a comprehensive list of Waco area restaurants and eateries.</h3>
    <p>Thank you for stopping by!</p>
</div>
